@font-face {
  font-family: "DmSans";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage";
}

html {
  font-size: 62.5%;
}

:root {
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  --Orange-500: hsl(28, 100%, 52%);
  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

body {
  background: var(--Neutral-900);
}

header,
#units-menu-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  gap: 0.8rem;
}

header {
  width: 90%;
  margin: 1rem auto;
}

header > img {
  width: 13rem;
}

#units-menu-button {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  color: var(--Neutral-0);
  background-color: var(--Neutral-800);
}

#header-dropdown-button {
  cursor: pointer;
}

#unit-settings-dropdown {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body > h1 {
  width: 85%;
  margin: 3rem auto;

  font-size: 5rem;
  text-align: center;
  color: var(--Neutral-0);
}

section {
  width: 90%;
  margin: auto;
}

#section-search {
    max-width: 70rem;
}

#section-search > div {
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--Neutral-800);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

#section-search > div > img {
  margin-left: 2rem;
}

input {
  width: 100%;
  height: 1.7rem;

  border: none;
  background-color: var(--Neutral-800);
  caret-color: var(--Neutral-300);
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.8rem;
  font-family: "DmSans";
  color: var(--Neutral-300);
}

#section-search > button {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 1.25rem;

  background-color: var(--Blue-500);
  color: var(--Neutral-200);

  border: none;
  border-radius: 0.5rem;

  font-size: 1.8rem;
  cursor: pointer;
}

#section-search > button:hover {
  transition: all 0.8s;
  background-color: var(--Blue-700);
}

#current-weather {
  /* border: 1px solid red; */
  height: 27rem;
  margin-top: 2rem;
  border-radius: 2rem;

  background-image: url("../assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#div-city-info {
  text-align: center;
  font-family: "DmSans";
}

#div-city-info > h1 {
  font-size: 2.8rem;
  color: var(--Neutral-0);
}

#div-city-info > p {
  margin-top: 1rem;
  font-size: 1.9rem;
  color: var(--Neutral-200);
}

#current-temperature {
  /* border: 1px solid red; */
  width: 26.5rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  font-size: 8rem;
  font-style: italic;
  font-family: "DmSans";
  color: var(--Neutral-0);
}

#current-temperature > img {
  width: 10rem;
}

#weather-details {
  /* border: 1px solid red; */
  height: 27rem;
  margin-top: 2rem;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

#weather-details > div {
  width: 46.5%;
  height: 40%;

  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-evenly;

  outline: 1px solid var(--Neutral-600);
  border-radius: 0.5rem;
  background-color: var(--Neutral-800);
}

#weather-details p {
  font-family: "DmSans";
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--Neutral-300);
}

#weather-details span {
  font-family: "DmSans";
  font-size: 2.5rem;
  margin-left: 2rem;
  color: var(--Neutral-200);
}

#daily-forecast {
  margin-top: 1rem;
}

#daily-forecast > h1 {
  font-family: "DmSans";
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: var(--Neutral-0);
}

#daily-forecast img {
  width: 6rem;
}

#forecast-days {  
  margin-top: 1rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;
}

#forecast-days > div {
  width: 30%;
  height: 15rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;

  outline: 2px solid var(--Neutral-600);
  border-radius: 1rem;
  background-color: var(--Neutral-800);
}

#forecast-days > div > p {
  font-size: 1.7rem;
  color: var(--Neutral-0);
}

.div-day > div {
  width: 75%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  font-size: 1.6rem;
  font-weight: 600;
  color: var(--Neutral-200);
}

#hourly-forecast {
  margin-top: 2rem;
  margin-bottom: 2rem;

  border-radius: 2rem;
  background-color: var(--Neutral-800);
}

#hourly-forecast-header {
  padding-top: 2rem;
}

#hourly-forecast-header > h1 {
  font-family: "DmSans";
  letter-spacing: 1px;
  color: var(--Neutral-200);
}

#hourly-forecast-header > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;

  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--Neutral-600);

  cursor: pointer;
}

#hourly-forecast-header > div > p {
  font-family: "DmSans";
  font-size: 1.6rem;
  color: var(--Neutral-200);
}

#forecast-hours {
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

.div-hour {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--Neutral-700);
  outline: 1px solid var(--Neutral-600);
}

.div-hour > div {
  width: 13rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
  color: var(--Neutral-200);
}

.div-hour > div > img {
  width: 5rem;
  margin-left: 1rem;
}

.div-hour > p {
    margin-right: 1rem;
    font-size: 1.7rem;
    color: var(--Neutral-200);
}

.attribution {
  margin-top: 2rem;
}